[project]
	description = Java implementation of a custom language compiler
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Amir Bawab (amirbawab)
[access "refs/for/refs/*"]
	read = group user/Amir Bawab (amirbawab)
	push = group user/Amir Bawab (amirbawab)
	label-Code-Review = -2..+2 group user/Amir Bawab (amirbawab)
	label-Verified = -1..+1 group user/Amir Bawab (amirbawab)
	rebase = group user/Amir Bawab (amirbawab)
	removeReviewer = group user/Amir Bawab (amirbawab)
	submit = group user/Amir Bawab (amirbawab)
[access "refs/heads/*"]
	read = group user/Amir Bawab (amirbawab)
	create = group user/Amir Bawab (amirbawab)
	push = +force group user/Amir Bawab (amirbawab)
	pushMerge = group user/Amir Bawab (amirbawab)
[access "refs/tags/*"]
	push = +force group user/Amir Bawab (amirbawab)
	pushTag = group user/Amir Bawab (amirbawab)
	pushSignedTag = group user/Amir Bawab (amirbawab)
